APP_ENV=development
SERVICE_NAME=blog-service
GRPC_PORT=50052
SHUTDOWN_TIMEOUT=15s

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=marketing_digest_blog
DATABASE_USER=marketing_digest
DATABASE_PASSWORD=changeme
DATABASE_SSLMODE=disable

DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=30m
